// ## those are randoms names

$White : #ffff;
$li-mi-white : #D9D9D9;
$mid-white : #D8E1FA;
$mid-black : #222328;
$black : #171717;
$transparent-black : #393939;
$red : #A40202;
$dark-blue : #222328;
$very-dark-blue : #0E0A23;
$mid-blue : #4D68AB;
$light-blue : #333A72;
$dark-gray : #939BAE;
$very-dark-gray : #878787;
$light-gray : #878787;