@use "../abstracts" as *;

.c-about {
  &_headr {
    .c_headers {
      &_text {
        h3 {
          color: $dark-gray;
          position: relative;
          &::before {
            position: absolute;
            content: url("/src/images/Frame28.png");
            left: -62px;
            top: -35px;
            z-index: -1;
          }
          &::after {
            position: absolute;
            content: url("/src/images/Frame27.png");
            left: -15px;
            top: 1px;
            z-index: -1;
          }
        }
      }
      &_arrowIcon {
        ._svg {
          stroke: $light-blue;
        }
      }
    }
  }

  &_desc {
    font-size: 1.3rem;
    line-height: 2.9rem;
    color: $mid-white;
    .c-underLinebroder::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: white;
      transform: scaleX(0);
      transition: transform 300ms ease-in-out;
    }
    .c-underLinebroder:hover::before {
      transform: scaleX(1);
    }

    .location_svg {
      width: 1.7rem;
      height: 1.7rem;
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 768px) {
  .c-about {
    &_desc {
      font-size: 1.2rem;
      line-height: 2.2rem;
      .location_svg {
        width: 1.7rem;
        height: 1.7rem;
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 500px) {
  .c-about {
    &_desc {
      font-size: 1rem;
      line-height: 1.6rem;
      .location_svg {
        width: 1.3rem;
        height: 1.3rem;
        margin-bottom: 0px;
      }
    }
  }
}
