@use "../abstracts" as *;

.c-nav {
  &_logo{
    width: 90%;
  }
  &_links {
    h4 {
      margin: 0;
      font-family: $fontLucida;
      color: $White;
      font-style: normal;
      font-weight: 400;
      font-size: 1.1rem;
      letter-spacing: 0.135em;
      &:hover {
        color: $dark-gray;
      }
    }
  }
}

@media (max-width: 991px) {
  .offcanvas {
    .offcanvas-header{
        background-color: $black;
    }
    .offcanvas-body {
      overflow: visible;
      background-color: $light-gray;
    }
  }
}
