@use "../abstracts" as *;

.c_skills {
  // hearder of section skills
  &_header {
    &_icon {
      ._svg {
        stroke: $dark-gray;
      }
    }
    &_text {
      h3 {
        font-family: $fontMontserrat;
        font-weight: 700;
        font-size: 2.5rem;
        color: $White;
        margin: 0;
        letter-spacing: -0.015em;
      }
    }
  }
  // cmd section
  &_cmd-app {
    background-color: $black;
    border-radius: 15px ;
    font-family: $fontFredoka;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 44px;
    height: 600px;
    overflow-y: scroll;
    /* or 200% */
    letter-spacing: -0.015em;
    &_top {
      height: 60px;
      border-radius: 10px;
      background-color: $transparent-black;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 32.96px;
        height: 39.51px;
        border-radius: 14px;
        background-color: $red;
        right: 10px;
        top: 10px;
      }
    }
  }
  // display icons section
  &_commands-disp {
    &_headrs {
      h2 {
        font-family: $fontFredoka;
        font-weight: 400;
        font-size: 40px;

        color: $White;
      }
      &_items {
        &_logos {
          background-color: $li-mi-white;

          border-radius: 6px;
          height: 95px;
          width: 95px;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            background-color: $very-dark-blue;
            width: 100%;
            height: 100%;
            z-index: -1;
            right: -7px;
            top: -7px;
            border-radius: 6px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    // hearder of section skills
    &_header {
      &_icon {
        ._svg {
          height: 2rem;
        }
      }
      &_text {
        h3 {
          font-size: 1.9rem;
        }
      }
    }
    // cmd section
    &_cmd-app {
      font-size: 1.4rem;
      line-height: 39px;
      height: 500px;

      &_top {
        height: 50px;
        background-color: $transparent-black;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          width: 32.96px;
          height: 31px;
          border-radius: 14px;
          background-color: $red;
          right: 10px;
          top: 10px;
        }
      }
    }
    // display icons section
    &_commands-disp {
      &_headrs {
        h2 {
          font-size: 1.6rem;
        }
        &_items {
          &_logos {
            height: 90px;
            width: 90px;
            img {
              width: 60px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    // hearder of section skills
    &_header {
      &_icon {
        ._svg {
          height: 1.8rem;
        }
      }
      &_text {
        h3 {
          font-size: 1.7rem;
        }
      }
    }
    // cmd section
    &_cmd-app {
      font-size: 1.2rem;
      line-height: 39px;
      height: 500px;

      &_top {
        height: 50px;
        background-color: $transparent-black;
        position: sticky;
        top: 0;
        &::after {
          position: absolute;
          content: "";
          width: 32.96px;
          height: 31px;
          border-radius: 14px;
          background-color: $red;
          right: 10px;
          top: 10px;
        }
      }
    }
    // display icons section
    &_commands-disp {
      &_headrs {
        h2 {
          font-size: 1.5rem;
        }
        &_items {
          &_logos {
            height: 80px;
            width: 80px;
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 280px) {
    // hearder of section skills
    &_header {
      &_icon {
        ._svg {
          height: 1.8rem;
        }
      }
      &_text {
        h3 {
          font-size: 1.7rem;
        }
      }
    }
    // cmd section
    &_cmd-app {
      font-size: 1rem;
      line-height: 39px;
      height: 500px;

    }
  }
}
