@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
* ::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar-track {
  background: #222328;
}
* ::-webkit-scrollbar-thumb {
  background: #888;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* .btn_link {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
}
* .btn_link:hover {
  color: #939BAE;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 280px;
}

.c_headers_arrowIcon ._svg {
  stroke: #939BAE;
}
.c_headers_text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  margin: 0;
}
@media (max-width: 768px) {
  .c_headers_arrowIcon ._svg {
    height: 2rem;
    width: 2.2rem;
  }
  .c_headers_text h3 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .c_headers_arrowIcon ._svg {
    height: 1.8rem;
  }
  .c_headers_text h3 {
    font-size: 1.9rem;
  }
}
@media (max-width: 280px) {
  .c_headers_text h3 {
    font-size: 1.8rem;
  }
}

.c-intro {
  background-color: #171717;
  z-index: 999;
  position: fixed;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-backdrop-filter: brightness(0) saturate(100%) invert(9%) sepia(16%) saturate(487%) hue-rotate(193deg) brightness(98%) contrast(89%);
          backdrop-filter: brightness(0) saturate(100%) invert(9%) sepia(16%) saturate(487%) hue-rotate(193deg) brightness(98%) contrast(89%);
}

.navbar-collapse {
  transition: all 500ms ease-in-out;
}

.c-nav_logo {
  width: 90%;
}
.c-nav_toggler svg {
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-nav_toggler .active svg {
  transform: rotate(90deg);
}
.c-nav_toggler path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.c-nav_toggler path:nth-child(1) {
  transform-origin: 36% 40%;
}
.c-nav_toggler path:nth-child(2) {
  stroke-dasharray: 29 299;
}
.c-nav_toggler path:nth-child(3) {
  transform-origin: 35% 63%;
}
.c-nav_toggler path:nth-child(4) {
  stroke-dasharray: 29 299;
}
.c-nav_toggler path:nth-child(5) {
  transform-origin: 61% 52%;
}
.c-nav_toggler path:nth-child(6) {
  transform-origin: 62% 52%;
}
.c-nav_toggler .active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.c-nav_toggler .active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.c-nav_toggler .active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.c-nav_toggler .active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.c-nav_toggler .active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.c-nav_toggler .active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.c-nav_links {
  text-decoration: none;
  cursor: pointer;
}
.c-nav_links h4 {
  margin: 0;
  font-family: "Lucida Console";
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.135em;
}
.c-nav_links h4:hover {
  color: #939BAE;
}

@media (max-width: 991px) {
  header {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    overflow: hidden;
  }
  .c-nav_top {
    -webkit-backdrop-filter: brightness(0) saturate(100%) invert(9%) sepia(16%) saturate(487%) hue-rotate(193deg) brightness(98%) contrast(89%);
            backdrop-filter: brightness(0) saturate(100%) invert(9%) sepia(16%) saturate(487%) hue-rotate(193deg) brightness(98%) contrast(89%);
  }
  .c-nav .show .navbar-nav {
    transform: translateY(0);
    border-radius: 4px;
    z-index: 999;
    width: 90%;
    margin: 0 auto;
    -webkit-backdrop-filter: brightness(100%) contrast(2%);
            backdrop-filter: brightness(100%) contrast(2%);
  }
}
.c-hero_img1 {
  width: 100%;
}
.c-hero_headrs_gretings {
  background-color: #939BAE;
  width: 90%;
  height: 73px;
}
.c-hero_headrs_gretings h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 70px;
  letter-spacing: -0.015em;
  color: #fefffe;
}
.c-hero_headrs_profesion h1 {
  height: 195px;
  font-family: "Mukta Malar", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 92px;
  /* or 96% */
  color: transparent;
  letter-spacing: 0.07em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.c-hero_headrs_btns_hire {
  text-decoration: none;
}
.c-hero_headrs_btns_hire:hover svg {
  fill: #939BAE;
}

.c-arrow svg {
  cursor: pointer;
  transition: transform 50ms ease-in-out;
}
.c-arrow svg:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .c-hero_img1 {
    width: 75%;
  }
  .c-hero_headrs_gretings h3 {
    font-size: 30px;
  }
  .c-hero_headrs_profesion h1 {
    font-size: 76px;
    line-height: 92px;
  }
}
@media (max-width: 500px) {
  .c-hero_img1 {
    width: 100%;
  }
  .c-hero_headrs_gretings {
    width: 100%;
  }
  .c-hero_headrs_gretings h3 {
    font-size: 30px;
  }
  .c-hero_headrs_profesion h1 {
    height: 145px;
    font-size: 56px;
    line-height: 70px;
    -webkit-text-stroke-width: 1.5px;
  }
}
@media (max-width: 375px) {
  .c-hero_headrs_gretings h3 {
    font-size: 1.4rem;
  }
  .c-hero_headrs_profesion h1 {
    font-size: 2.5rem;
    line-height: 60px;
    -webkit-text-stroke-width: 1px;
  }
}
.side_up_icons {
  list-style: none;
  width: 30px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
  z-index: 10;
}
.side_up_icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: white;
}
.side_up_icons li {
  padding: 4px 0;
}

.c-about_headr .c_headers_text h3 {
  color: #939BAE;
  position: relative;
}
.c-about_headr .c_headers_text h3::before {
  position: absolute;
  content: url("/src/images/Frame28.png");
  left: -62px;
  top: -35px;
  z-index: -1;
}
.c-about_headr .c_headers_text h3::after {
  position: absolute;
  content: url("/src/images/Frame27.png");
  left: -15px;
  top: 1px;
  z-index: -1;
}
.c-about_headr .c_headers_arrowIcon ._svg {
  stroke: #333A72;
}
.c-about_desc {
  font-size: 1.3rem;
  line-height: 2.9rem;
  color: #D8E1FA;
}
.c-about_desc .c-underLinebroder::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.c-about_desc .c-underLinebroder:hover::before {
  transform: scaleX(1);
}
.c-about_desc .location_svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .c-about_desc {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .c-about_desc .location_svg {
    width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 12px;
  }
}
@media (max-width: 500px) {
  .c-about_desc {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .c-about_desc .location_svg {
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: 0px;
  }
}
.c_skills_cmd-app {
  background-color: #171717;
  border-radius: 15px;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 44px;
  height: 600px;
  overflow-y: scroll;
  /* or 200% */
  letter-spacing: -0.015em;
}
.c_skills_cmd-app::-webkit-scrollbar {
  width: 2px;
  scroll-behavior: smooth;
}
.c_skills_cmd-app::-webkit-scrollbar-thumb {
  border-radius: 15px;
}
.c_skills_cmd-app_top {
  height: 60px;
  border-radius: 10px;
  background-color: #393939;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.c_skills_cmd-app_top::after {
  position: absolute;
  content: "";
  width: 32.96px;
  height: 39.51px;
  border-radius: 14px;
  background-color: #A40202;
  right: 10px;
  top: 10px;
}
.c_skills_img {
  width: 50%;
}
@media (max-width: 1199px) {
  .c_skills_img {
    width: 60%;
    margin: 2rem;
  }
}
.c_skills_commands-disp_headrs h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.c_skills_commands-disp_headrs_items_logos {
  background-color: #D9D9D9;
  border-radius: 6px;
  height: 95px;
  width: 95px;
  position: relative;
}
.c_skills_commands-disp_headrs_items_logos::after {
  position: absolute;
  content: "";
  background-color: #0E0A23;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -7px;
  top: -7px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .c_skills_cmd-app {
    font-size: 1.4rem;
    line-height: 39px;
    height: 500px;
  }
  .c_skills_cmd-app_top {
    height: 50px;
    background-color: #393939;
  }
  .c_skills_cmd-app_top::after {
    position: absolute;
    content: "";
    width: 32.96px;
    height: 31px;
    border-radius: 14px;
    background-color: #A40202;
    right: 10px;
    top: 10px;
  }
  .c_skills_commands-disp_headrs h2 {
    font-size: 1.6rem;
  }
  .c_skills_commands-disp_headrs_items_logos {
    height: 90px;
    width: 90px;
  }
  .c_skills_commands-disp_headrs_items_logos img {
    width: 60px;
  }
}
@media (max-width: 500px) {
  .c_skills_cmd-app {
    font-size: 1.2rem;
    line-height: 39px;
    height: 500px;
  }
  .c_skills_cmd-app_top {
    height: 50px;
    background-color: #393939;
  }
  .c_skills_cmd-app_top::after {
    position: absolute;
    content: "";
    width: 32.96px;
    height: 31px;
    border-radius: 14px;
    background-color: #A40202;
    right: 10px;
    top: 10px;
  }
  .c_skills_commands-disp_headrs h2 {
    font-size: 1.5rem;
  }
  .c_skills_commands-disp_headrs_items_logos {
    height: 80px;
    width: 80px;
  }
  .c_skills_commands-disp_headrs_items_logos img {
    width: 50px;
  }
}
@media (max-width: 280px) {
  .c_skills_cmd-app {
    font-size: 1rem;
    line-height: 39px;
    height: 500px;
  }
}

.c_project {
  overflow-x: hidden;
  /*----- width 1200px -----*/
  /*----- width 850px -----*/
  /*----- width 765px -----*/
}
.c_project_content h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 60px;
  color: white;
}
.c_project_content p {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #878787;
}
.c_project_content_tools h6 {
  color: #4D68AB;
  font-size: 1.03rem;
}
.c_project_content_links svg {
  width: 1.7rem;
  stroke-width: 0.1rem;
}
.c_project_content svg:hover {
  stroke-width: 0.15rem;
}
.c_project_img_cont {
  width: 90%;
  height: 20rem;
  position: relative;
}
.c_project_img_cont::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0E0A23;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.7;
  transition: 100ms ease-in-out;
}
.c_project_img_cont img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 100ms ease-in-out;
}
.c_project_img_cont_right {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #878787;
  z-index: -1;
  top: -6px;
  left: 6px;
  bottom: 0;
}
.c_project_img_cont_left {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #878787;
  z-index: -1;
  top: -6px;
  left: -6px;
  bottom: 0;
}
.c_project_img_cont:hover {
  transition: all 100ms ease-in-out;
}
.c_project_img_cont:hover::after {
  opacity: 0;
  transform: scale(1.04);
}
.c_project_img_cont:hover img {
  transform: scale(1.05);
  border-radius: 4px;
}
.c_project_soon {
  font-size: 1.5rem;
  color: white;
}
@media (max-width: 1200px) {
  .c_project_img_cont {
    width: 100%;
    height: 18rem;
  }
  .c_project_img_cont_right {
    top: -4px;
    left: 4px;
    bottom: 0;
  }
  .c_project_img_cont_left {
    top: -4px;
    left: -4px;
    bottom: 0;
  }
}
@media (max-width: 850px) {
  .c_project_content h2 {
    font-size: 1.9rem;
    line-height: 60px;
  }
  .c_project_content p {
    font-size: 1rem;
  }
  .c_project_content_tools h6 {
    font-size: 0.9rem;
  }
  .c_project_content_links svg {
    width: 1.5rem;
  }
  .c_project_img_cont {
    width: 100%;
    height: 15rem;
  }
  .c_project:hover {
    transition: all 100ms ease-in-out;
  }
  .c_project:hover::after {
    opacity: 0;
    transform: scale(1);
  }
  .c_project:hover img {
    transform: scale(1);
  }
}
@media (max-width: 765px) {
  .c_project_content h2 {
    font-size: 2.1rem;
    line-height: 60px;
  }
  .c_project_img_cont {
    width: 100%;
    height: 17rem;
  }
  .c_project_img_cont_right {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
  .c_project_img_cont_left {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
  }
  .c_project:hover {
    transition: all 100ms ease-in-out;
  }
  .c_project:hover::after {
    opacity: 0;
    transform: scale(1);
  }
  .c_project:hover img {
    transform: scale(1);
  }
  .c_project_soon {
    font-size: 1.2rem;
    color: white;
  }
}
@media (max-width: 375px) {
  .c_project_content h2 {
    font-size: 1.5rem;
    line-height: 50px;
  }
  .c_project_content p {
    font-size: 0.9rem;
  }
  .c_project_content_tools h6 {
    font-size: 0.8rem;
  }
  .c_project_content_links svg {
    width: 1.3rem;
  }
  .c_project_img_cont {
    width: 100%;
    height: 13rem;
  }
  .c_project_soon {
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 280px) {
  .c_project_content h2 {
    font-size: 1.5rem;
    line-height: 50px;
  }
  .c_project_content p {
    font-size: 0.9rem;
  }
  .c_project_content_tools h6 {
    font-size: 0.8rem;
  }
  .c_project_content_links svg {
    width: 1.3rem;
  }
  .c_project_img_cont {
    width: 100%;
    height: 11rem;
  }
}

.c-contact {
  z-index: -1;
  /*width 1200px*/
  /*width 768px*/
  /*width 414px*/
}
.c-contact .custom-shape-divider-bottom-1670244021 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.c-contact .custom-shape-divider-bottom-1670244021 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
}
.c-contact .custom-shape-divider-bottom-1670244021 .shape-fill {
  fill: #D9D9D9;
}
.c-contact_content {
  position: relative;
  background-color: #D9D9D9;
  z-index: 1;
}
.c-contact_content_items_desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
.c-contact_content_items_links {
  height: 420px;
  background-color: #222328;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
.c-contact_content_items_links_icon svg {
  width: 4rem;
  height: 4rem;
  stroke: #D9D9D9;
}
.c-contact_content_items_links_link {
  width: 60%;
}
.c-contact_content_items_links_link a {
  font-size: 2rem;
  font-family: "Fredoka", sans-serif;
  color: white;
  text-decoration: none;
  position: relative;
}
.c-contact_content_items_links_link a::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.c-contact_content_items_links_link a:hover {
  color: white;
}
.c-contact_content_items_links_link a:hover::before {
  transform: scaleX(1);
}
.c-contact_content_items_links::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: -10px;
  z-index: -2;
  top: -10px;
  background-color: #171717;
  border-radius: 20px;
}
.c-contact_content_items_links::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: -10px;
  z-index: -2;
  bottom: -10px;
  background-color: white;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .c-contact_content_items_links {
    height: 380px;
  }
  .c-contact_content_items_links_icon svg {
    width: 4rem;
    height: 4rem;
    stroke: #D9D9D9;
  }
  .c-contact_content_items_links_link {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .c-contact_content_items_desc {
    font-size: 1.25rem;
    line-height: 29px;
  }
  .c-contact_content_items_links {
    height: 320px;
    width: 90%;
    margin: 0 auto;
  }
  .c-contact_content_items_links_icon svg {
    width: 3rem;
    height: 3rem;
    stroke: #D9D9D9;
  }
  .c-contact_content_items_links_link {
    width: 100%;
  }
  .c-contact_content_items_links_link a {
    font-family: "Fredoka", sans-serif;
    font-size: 1.4rem;
    color: white;
    margin: 0;
  }
}
@media (max-width: 414px) {
  .c-contact .custom-shape-divider-bottom-1670244021 svg {
    height: 80px;
  }
  .c-contact_content_items_desc {
    font-size: 1rem;
    line-height: 29px;
  }
  .c-contact_content_items_links {
    height: 320px;
    margin: 0 auto;
  }
  .c-contact_content_items_links_icon svg {
    width: 2.7rem;
    height: 2.7rem;
    stroke: #D9D9D9;
  }
  .c-contact_content_items_links_link {
    width: 100%;
  }
  .c-contact_content_items_links_link a {
    font-family: "Fredoka", sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 0;
  }
}
@media (max-width: 375px) {
  .c-contact_content_items_desc {
    line-height: 25px;
  }
  .c-contact_content_items_links {
    height: 290px;
    width: 90%;
    margin: 0 auto;
  }
  .c-contact_content_items_links_icon svg {
    width: 2.4rem;
    height: 2.4rem;
    stroke: #D9D9D9;
  }
  .c-contact_content_items_links_link a {
    font-family: "Fredoka", sans-serif;
    font-size: 1.1rem;
    color: white;
    margin: 0;
  }
}
@media (max-width: 280px) {
  .c-contact_content_items_links {
    height: 220px;
    width: 100%;
    margin: 0 auto;
  }
  .c-contact_content_items_links_icon svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #D9D9D9;
  }
  .c-contact_content_items_links_link a {
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    color: white;
    margin: 0;
  }
}

/*Main app*/
/*Intro section*/
/*Navbar Section*/
/*Hero Section*/
/*sideIcons Section*/
/*About Section*/
/*Skills Section*/
/*Project Section*/
/*Contact Section*//*# sourceMappingURL=Style.css.map */