@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
* ::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}
* ::-webkit-scrollbar-track {
  background: #222328;
}
* ::-webkit-scrollbar-thumb {
  background: #888;
}
* ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* .btn_link {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
}
* .btn_link:hover {
  color: #939BAE;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 280px;
}

.c-intro {
  background-color: #171717;
  z-index: 999;
  position: fixed;
}

.c-nav_logo {
  width: 90%;
}
.c-nav_links h4 {
  margin: 0;
  font-family: "Lucida Console";
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.135em;
}
.c-nav_links h4:hover {
  color: #939BAE;
}

@media (max-width: 991px) {
  .offcanvas .offcanvas-header {
    background-color: #171717;
  }
  .offcanvas .offcanvas-body {
    overflow: visible;
    background-color: #878787;
  }
}
.c-hero_img1 {
  width: 100%;
}
.c-hero_headrs_gretings {
  background-color: #939BAE;
  width: 90%;
  height: 73px;
}
.c-hero_headrs_gretings h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 70px;
  letter-spacing: -0.015em;
  color: #fefffe;
}
.c-hero_headrs_profesion h1 {
  height: 195px;
  font-family: "Mukta Malar", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 85px;
  line-height: 92px;
  /* or 96% */
  color: transparent;
  letter-spacing: 0.07em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.c-hero_headrs_btns_hire:hover svg {
  fill: #939BAE;
}

@media (max-width: 768px) {
  .c-hero_img1 {
    width: 75%;
  }
  .c-hero_headrs_gretings h3 {
    font-size: 30px;
  }
  .c-hero_headrs_profesion h1 {
    font-size: 76px;
    line-height: 92px;
  }
}
@media (max-width: 500px) {
  .c-hero_img1 {
    width: 100%;
  }
  .c-hero_headrs_gretings {
    width: 100%;
  }
  .c-hero_headrs_gretings h3 {
    font-size: 30px;
  }
  .c-hero_headrs_profesion h1 {
    height: 145px;
    font-size: 56px;
    line-height: 70px;
    -webkit-text-stroke-width: 1.5px;
  }
}
@media (max-width: 375px) {
  .c-hero_headrs_gretings h3 {
    font-size: 1.4rem;
  }
  .c-hero_headrs_profesion h1 {
    font-size: 2.5rem;
    line-height: 60px;
    -webkit-text-stroke-width: 1px;
  }
}
.side_up_icons {
  list-style: none;
  width: 30px;
  position: fixed;
  bottom: 0px;
  left: 20px;
  right: auto;
  z-index: 10;
}
.side_up_icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: 0px auto;
  background-color: white;
}
.side_up_icons li {
  padding: 4px 0;
}

.c-about_headr_text h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #939BAE;
  position: relative;
}
.c-about_headr_text h3::before {
  position: absolute;
  content: url("/src/images/Frame28.png");
  left: -62px;
  top: -35px;
  z-index: -1;
}
.c-about_headr_text h3::after {
  position: absolute;
  content: url("/src/images/Frame27.png");
  left: -15px;
  top: 1px;
  z-index: -1;
}
.c-about ._svg {
  stroke: #333A72;
}
.c-about_desc {
  font-size: 1.3rem;
  line-height: 2.9rem;
  color: #D8E1FA;
}
.c-about_desc .c-underLinebroder::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.c-about_desc .c-underLinebroder:hover::before {
  transform: scaleX(1);
}

@media (max-width: 768px) {
  .c-about_headr_text h3 {
    font-size: 1.9rem;
  }
  .c-about ._svg {
    height: 2rem;
  }
  .c-about_desc {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}
@media (max-width: 500px) {
  .c-about_headr_text h3 {
    font-size: 1.6rem;
  }
  .c-about ._svg {
    height: 1.8rem;
    width: 3rem;
  }
  .c-about_desc {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
.c_skills_header_icon ._svg {
  stroke: #939BAE;
}
.c_skills_header_text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
  margin: 0;
  letter-spacing: -0.015em;
}
.c_skills_cmd-app {
  background-color: #171717;
  border-radius: 15px;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 44px;
  height: 600px;
  overflow-y: scroll;
  /* or 200% */
  letter-spacing: -0.015em;
}
.c_skills_cmd-app_top {
  height: 60px;
  border-radius: 10px;
  background-color: #393939;
  position: relative;
}
.c_skills_cmd-app_top::after {
  position: absolute;
  content: "";
  width: 32.96px;
  height: 39.51px;
  border-radius: 14px;
  background-color: #A40202;
  right: 10px;
  top: 10px;
}
.c_skills_commands-disp_headrs h2 {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
}
.c_skills_commands-disp_headrs_items_logos {
  background-color: #D9D9D9;
  border-radius: 6px;
  height: 95px;
  width: 95px;
  position: relative;
}
.c_skills_commands-disp_headrs_items_logos::after {
  position: absolute;
  content: "";
  background-color: #0E0A23;
  width: 100%;
  height: 100%;
  z-index: -1;
  right: -7px;
  top: -7px;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .c_skills_header_icon ._svg {
    height: 2rem;
  }
  .c_skills_header_text h3 {
    font-size: 1.9rem;
  }
  .c_skills_cmd-app {
    font-size: 1.4rem;
    line-height: 39px;
    height: 500px;
  }
  .c_skills_cmd-app_top {
    height: 50px;
    background-color: #393939;
    position: relative;
  }
  .c_skills_cmd-app_top::after {
    position: absolute;
    content: "";
    width: 32.96px;
    height: 31px;
    border-radius: 14px;
    background-color: #A40202;
    right: 10px;
    top: 10px;
  }
  .c_skills_commands-disp_headrs h2 {
    font-size: 1.6rem;
  }
  .c_skills_commands-disp_headrs_items_logos {
    height: 90px;
    width: 90px;
  }
  .c_skills_commands-disp_headrs_items_logos img {
    width: 60px;
  }
}
@media (max-width: 500px) {
  .c_skills_header_icon ._svg {
    height: 1.8rem;
  }
  .c_skills_header_text h3 {
    font-size: 1.7rem;
  }
  .c_skills_cmd-app {
    font-size: 1.2rem;
    line-height: 39px;
    height: 500px;
  }
  .c_skills_cmd-app_top {
    height: 50px;
    background-color: #393939;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .c_skills_cmd-app_top::after {
    position: absolute;
    content: "";
    width: 32.96px;
    height: 31px;
    border-radius: 14px;
    background-color: #A40202;
    right: 10px;
    top: 10px;
  }
  .c_skills_commands-disp_headrs h2 {
    font-size: 1.5rem;
  }
  .c_skills_commands-disp_headrs_items_logos {
    height: 80px;
    width: 80px;
  }
  .c_skills_commands-disp_headrs_items_logos img {
    width: 50px;
  }
}
@media (max-width: 280px) {
  .c_skills_header_icon ._svg {
    height: 1.8rem;
  }
  .c_skills_header_text h3 {
    font-size: 1.7rem;
  }
  .c_skills_cmd-app {
    font-size: 1rem;
    line-height: 39px;
    height: 500px;
  }
}

/*Main app*/
/*Intro section*/
/*Navbar Section*/
/*Hero Section*/
/*sideIcons Section*/
/*About Section*/
/*Skills Section*//*# sourceMappingURL=Style.css.map */